<div class="contain-to-grid footer">
  <nav class="top-bar footer">
    <section class="footer-section columns">
      <ul class="left inline-list">
      </ul>
      <ul class="right inline-list">
      </ul>
    </section>
  </nav>
</div>


<div class="contain-to-grid footer__navbar">
  <div class="row ">
    <div class="small-12 large-12 columns">
    </div>
  </div>
</div>