<div class="contain-to-grid footer">
  <nav class="top-bar footer">
    <section class="footer-section columns">
      <ul class="left inline-list">
        <li>Share this site</li>
      </ul>
      <ul class="right inline-list">
        <li>Library Email Updates <input type="text" placeholder="Enter email address"/><input type="submit" value="Subscribe"></li>
      </ul>
    </section>
  </nav>
</div>


<div class="contain-to-grid footer__navbar">
  <div class="row ">
    <div class="small-12 large-12 columns">
      <nav>
        <ul class="left inline-list">
          <li><a href="/">Home</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Give feedback</a></li>
        </ul>
        <ul class="right inline-list">
          <li><a href="#">Terms of Use</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>