<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <section class="top-bar-section">
    </section>
  </nav>
</div>

<div class="row header__navbar">
  <div class="small-4 large-4 columns">
    <a href="/"><%= image_set_tag_3x 'logo@1x.png', alt: 'Logo', class: 'header__logo' %></a>
  </div>
  <div class="small-8 large-8 columns">
  </div>
</div>

<div class="searchbar__wrapper">
<%= render_search_bar  %>
</div>

      <!--  render :partial=>'/user_util_links' -->
