<header class="hl__topHeader">
  <div class="hl__topHeader__left">
    <ul class="hl__topHeaderNav">
      <li class="hl__topHeaderTitle__harvard">
        <a class="hl__topHeader__link" href="https://digitalcollections.library.harvard.edu/">
          Digital <span class="hl__topHeaderTitle__collections hl__topHeader__link">Collections</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="hl__topHeader__right">
    <a href="https://library.harvard.edu">
      <div class="hl__headerLogo">
        <%= image_tag("hl_header-logo.svg", alt: "Harvard logo") %>
      </div>
    </a>
  </div>

  <%if controller_name != 'fulltexts'%>
    <div class="navbar__wrapper">
      <%if user_signed_in? %>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#utility-links" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="utility-links">
          <%= render :partial=>'/user_util_links' %>
        </div>
      <%end%>
    </div>
    <div class="searchbar__wrapper">
      <%= render_search_bar  %>
    </div>
  <%end%>
</header>

