<div class="hl__alert">
  <p><a href="somehwere.html">We're in alpha!</a> Please have a look around and <a href="somewhere.html">tell us what you think.</a></p>
</div>
<header class="hl__topHeader">
  <div class="hl__topHeader__left">
    <ul class="hl__topHeaderNav">
      <li class="hl__topHeaderTitle__harvard">
        <a class="hl__topHeader__link" href="/">
          Harvard <span class="hl__topHeaderTitle__collections hl__topHeader__link">Digital Collections</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="hl__topHeader__right">
    <a href="https://library.harvard.edu">
      <div class="hl__headerLogo">
        <img src="https://s3.amazonaws.com/archimedes-data001/hul/images/hl_header-logo.svg" alt="Harvard logo">
      </div>
    </a>
  </div>
  <div class="searchbar__wrapper">
    <%= render_search_bar  %>
  </div>
</header>

      <!--  render :partial=>'/user_util_links' -->
