<div class="hl__alert">
  <p>We're in beta! Please have a look around and <a href="https://harvard.az1.qualtrics.com/jfe/form/SV_ahGZ04EDLTP2TPf">tell us what you think.</a></p>
</div>
<header class="hl__topHeader">
  <div class="hl__topHeader__left">
    <ul class="hl__topHeaderNav">
      <li class="hl__topHeaderTitle__harvard">
        <a class="hl__topHeader__link" href="https://library.harvard.edu/digital-collections">
          Harvard <span class="hl__topHeaderTitle__collections hl__topHeader__link">Digital Collections</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="hl__topHeader__right">
    <a href="https://library.harvard.edu">
      <div class="hl__headerLogo">
        <%= image_tag("hl_header-logo.svg", alt: "Harvard logo") %>
      </div>
    </a>
  </div>
  <div class="searchbar__wrapper">
    <%= render_search_bar  %>
  </div>
</header>
<%= render :partial=>'/user_util_links' %>

