<div class="checkbox">
  <label class="toggle_add_to_collection"
         title="">
    <input type="checkbox" class="toggle_add_to_collection" data-document-id="<%= document.id %>"> <span>Add to collection</span></label>
</div>