<h2 class="collections__heading">Collections</h2>
<div id="addToCollectionAction" class="collections__container clearfix">
  <p>Select the items you wish add to a collection, and then click "Add To Collection".</p>

<p><label class="toggle_all_add_to_collection" ><input type="checkbox" class="toggle_all_add_to_collection"> <span>Select All</span></label></p>
  <a id="add_multiple_to_collectionPlaceholder" href="#" class="small button disabled">Add items to collection</a><a id="add_multiple_to_collectionLink" data-ajax-modal="trigger" href="#" class="small button">Add items to collection</a>

  <%= render 'shared/ajax_modal' %>

</div>
