<% # container for all documents in index list view -%>
<div class="row">
  <div class="columns large-12">
    <ul id="documents" class="documents-<%= document_index_view_type %> no-bullet clearfix">
      <%= render documents, :as => :document %>
    </ul>
  </div>
</div>