
<div class="row search-header">
  <div class="columns large-6">
    <%= render :partial => "paginate_compact", :object => @response if show_pagination? %>

    <% if query_has_constraints? %>

        for <%= render_constraints(params) %>

    <% end %>

  </div>
  <div class="columns large-6">
    <div class="view-mode">
      <a href="#" class="view-mode__list" data-no-turbolink="true" title="List"></a>
      <a href="#" class="view-mode__grid active" data-no-turbolink="true" title="Grid"></a>
    </div>
    <div id="sortAndPerPage" class="clearfix">
      <%= render_results_collection_tools wrapping_class: "search-widgets pull-right" %>
    </div>
  </div>
</div>

