
<div class="row search-header">
  <div class="col-lg-8">
    <%= render :partial => "paginate_compact", :object => @response if show_pagination? %>

    <% if query_has_constraints? %>

        for <%= render_constraints(params) %>

    <% end %>

  </div>
  <div class="col-lg-4">
    <div id="sortAndPerPage" class="clearfix">
      <%= render_results_collection_tools wrapping_class: "search-widgets pull-right" %>
    </div>
  </div>
</div>

