<% doc_presenter = show_presenter(document) %>
<%# default partial to display solr document fields in catalog show view -%>

<div class="row">
  <div class="large-9 columns">
    <div id="details" class="content active record-details">
      <dl class="dl-horizontal  dl-invert clearfix">
        <% document_show_fields(document).each do |field_name, field| -%>
          <% if should_render_show_field? document, field %>
            <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
            <dd class="blacklight-<%= field_name.parameterize %>"><%=raw CGI.unescapeHTML doc_presenter.field_value field_name %></dd>
          <% end -%>
        <% end -%>
      </dl>
    </div> 
  </div>
  <div class="columm">
    <%# Tools and Related Links component will go here %>
  </div>
</div>
