<%- if has_thumbnail?(document) %>
<a class="hl__itemGridViewImageContainer" href="<%= url_for(document) %>">
  <div style="background-image: url(<%= document.first(blacklight_config.view_config(document_index_view_type).thumbnail_field) %>);">
  </div>
</a>
<%-end %>