<h2><%= t 'blacklight.search.zero_results.title' %></h2>
<div id="documents" class="noresults">
  <h2>Try...</h2>

  <ul>
  	<li>entering your term into a <a href="https://digitalcollections.library.harvard.edu">new search</a> - hyperlinked fields may yield incomplete results.</li>
  	<li>removing search terms - adding more words limits your results.</li>
  	<li>searching <a href="https://hollis.harvard.edu">HOLLIS</a> catalog - Harvard affiliates may have access to more items.</li>
  	<li>removing filters - some filters don't apply to all items.</li>
  </ul>

</div>
