<h2><%= t 'blacklight.search.zero_results.title' %></h2>
<div id="documents" class="noresults">
  <p class="hl__rte-large">Sorry. No results found. Try a different search term or try the <a href="https://hollis.harvard.edu/">HOLLIS catalog</a> instead.</p>
</div>
