<div data-ajax-modal="container">
  <div class="modal-header">
    <button type="button" class="ajax-modal-close close close-reveal-modal" data-dismiss="modal" aria-hidden="true">×</button>
    <h1 class="modal-title">Add To Collection</h1>
  </div>
  <%= render :partial => 'add_to_collection_form' %>
</div>