<div class="hl__searchRow blacklightItemListPageSearchHeader">
	<div class="blacklightItemListPageSearchHeaderInner">
		<div class="hl__searchContainer">
			<div class="hl__searchInputOuter">
				<form class="search-query-form clearfix navbar-form" role="search" action="/catalog" accept-charset="UTF-8" method="get">
					<i class="mdi mdi-magnify mdi-24px hl__searchIcon"></i>
					<input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="search_field" id="search_field" value="all_fields" />
					<input name="q" id="q" type="text" placeholder="Try 'lantern slides' or 'colonial north america'" value="">
				</form>
			</div>
		</div>
		<div class="hl__collectionViewIcons blacklightCollectionViewIcons view-mode">
			<button class="hl__collectionViewIcon gridIcon collectionViewIconActive view-mode__grid" aria-label="show grid view">
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
					<path d="M20 2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM8 20H4v-4h4v4zm0-6H4v-4h4v4zm0-6H4V4h4v4zm6 12h-4v-4h4v4zm0-6h-4v-4h4v4zm0-6h-4V4h4v4zm6 12h-4v-4h4v4zm0-6h-4v-4h4v4zm0-6h-4V4h4v4z"></path>
				</svg>
			</button>
			<button class="hl__collectionViewIcon view-mode__list" aria-label="show list view">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<g>
						<g transform="translate(-1517 -653)">
							<path d="M1517 670v-3h10.9v3zm0 7v-3h10.9v3zm0-14v-3h10.9v3zm0-10h10.9v3H1517zm13.1 17v-3h10.9v3zm-.1 7v-3h10.9v3zm.1-14v-3h10.9v3zm0-10h10.9v3h-10.9z"></path>
						</g>
					</g>
				</svg>
			</button>
			<button class="hl__collectionViewIcon " aria-label="show masonry view">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<g>
						<g transform="translate(-1468 -653)">
							<path d="M1468 666v-13h11v13zm0 11v-8h11v8zm13 0v-13h11v13zm0-24h11v8h-11z"></path>
						</g>
					</g>
				</svg>
			</button>
		</div>
	</div>
</div>
<div class="large-3 columns" id="sidebar">
	<%= render 'search_sidebar' %>
</div>
<div class="large-9 columns" id="content">
	<%= render 'search_results' %>
</div>
