@import "settings";
@import "icons";

.facets__rail {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  width: 100%;
  z-index: 3;
  transition: all 0.7s ease;
  background: $search-bg-gray;

  &.open {
    transform: none;
  }

  .btn-show-facets {
    height: 300px;
    width: 40px;
    position: absolute;
    right: -40px;
    top: 0%;
    background: $search-bg-gray;
    border: none;

    .btn-show-facets__label {
      transform: rotate(270deg) translate(0,-130px);
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      display: block;
      width: 300px;
      height: 40px;
      text-align: right;
      padding-right: 40px;
    }

    .fa {
      position: absolute;
      right: 16px;
      top: 12px;
      font-size: 14px;
    }
  }

  .btn-hide-facets {
    background: transparent;
    border: none;
    position: absolute;
    right: 10px;
    top: 6px;
  }

  @media (min-width: 768px) {
    position: static;
    background: transparent;
    transform: none;

    .btn-show-facets, .btn-hide-facets {
      display: none;
    }
  }
}

#facets .panel-group {
  margin-bottom: 0;
}

h2.facets__heading {
  color: $dark-gray;
  font-family: $font-family-sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  padding: 10px 0 20px 25px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  @media (min-width: 768px) {
    padding: 0px 0 20px 0px;
  }
}

.facets__container a {
  color: $rouge;
}

.facet-content {
  overflow: hidden;
}

ul.facet-values {
  margin-bottom: 10px;
  padding-left: 0;
}

ul.facet-values li {
  margin-bottom: 0px;
  display: block;
  &:last-child {
    margin-bottom: 0;
  }
}

.facet_select,
.selected,
.facet-count {
  font-size: 16px;
  color: $jet;
}

.facet-label {
    .facet_select, .selected {
        display: inline-block;
        padding: 0 0 0 0px;
        max-width: 90%;
        position: relative;
    }
}
.facets__container a.remove {
    width: 20px;
    height: 16px;
    display: inline-block;
    border-bottom: 0;
    margin-left: 5px;
    position: relative;
}

.glyphicon-remove {
    @include fa-icon;
    @include fa-icon-content("\f00c");
}

.facets__container a.facets__clearall {
    color: $light-blue;
    display: block;
    padding: 0 0 0px 25px;
    font-size: rem-calc(14);
    letter-spacing: 0.5px;
    font-family: $font-family-sans-serif;
    text-decoration: none;
}

.toggle-wrapper {
    overflow: hidden;
}

button.toggle-all-facets {
  font-family: $font-family-sans-serif;
  font-size: 13px;
  font-weight: 400;
  border: none;
  border-radius: 4px 4px 0 0;
  color: $regular-plain-text-color;
  float: right;
  padding: 6px 40px 6px 20px;
  background: $search-bg-gray;
  float: right;
  margin: 0 0px 0 0;
  position: relative;
  letter-spacing: 0.5px;

  &:hover {
    background: $border-gray;
  }

  > span {
    min-width: 80px;

    span {
      &:before {
        position: absolute;
        right: 24px;
        color: $red;
        top: 8px;
        font-size: 16px;
      }
    }

  }

  .expand-text {
    display: inline-block;
    font-weight: 300;
  }

  .collapse-text {
    display: none;
    font-weight: 300;
  }

  &[aria-expanded=true] .collapse-text {
    display: inline-block;
  }

  &[aria-expanded=true] .expand-text {
    display: none;
  }
}


a.facet__title {
    &:hover, &:active, &:focus {
        text-decoration: none;
    }

    span.toggle {
        color: $red;
        font-size: 16px;
        position: relative;
        top: 2px;
        float: right;
        -webkit-transition: -webkit-transform 0.5s ease;
        transition: -webkit-transform 0.5s ease;
        transition: transform 0.5s ease;
        transition: transform 0.5s ease,-webkit-transform 0.5s ease;
        transform: rotate(180deg);

        &.facet-expand {
            display: inline-block;

        }

        &.fa-rotate-180 {
            -webkit-transform: scaleY(-1);
            transform: scaleY(-1) rotate(180deg);
        }
    }
}

.facets__container {
  background-color: $search-bg-gray;
  padding-bottom: 10px;

  .accordion, dl.accordion {
    font-family: $font-family-sans-serif;

    .accordion-navigation {
      border-bottom: 1px solid $border-gray;
      padding: 25px 0;
      margin: 0 25px;


      & > a {
        font-family: $font-family-sans-serif;
        background: transparent;
        color: $regular-plain-text-color;
        text-transform: uppercase;
        font-size: rem-calc(14);
        letter-spacing: 2px;
        padding: 25px 0 25px 0;
      }

      & > .content {
        padding: 25px 0 0 0;
        background: transparent;

        li {
          padding: 6px 35px 6px 0px;
          position: relative;
          border-radius: 5px;
          -webkit-transition: background 0.4s ease;
          transition: background 0.4s ease;

          .facet_select {
            color: $jet;
            text-decoration: none;
            border-bottom: 2px solid transparent;

            &:hover {
              text-decoration: none;
              border-bottom-color: #979797;
            }
          }

          .facet-count {
            color: #666;
            position: absolute;
            right: 18px;
            top: 6px;
            text-align: right;
            width: auto !important;
          }

          &.more_facets_link {
            background: transparent;
            padding-right: 0;

            a.more_facets_link {
              color: $breakthrough-blue;
              float: right;
            }
          }
        }
      }
    }

    &:last-child {
      .accordion-navigation {
        border-bottom: 0;
      }
    }
  }
}

form.range_limit {
  color: $regular-plain-text-color;

  .error {
    color: $light-blue;
    display: block;
    font-style: italic;
    line-height: 1.5;
    padding-top: 20px;
    -webkit-animation-duration: fadeIn 0.8s;
    animation-duration: fadeIn 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

#ajax-modal {
    z-index: 2000;
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-family: $font-family-sans-serif;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;

    @media(min-width: 400px) {
        width: 90%;
    }

    @media(min-width: 700px) {
        width: 600px;
    }
}

.content.active .facet-label .selected::before {
    background: $breakthrough-blue;
}

.content.active li a .fa-times {
  @include remove-icon();
  position: absolute;
  top: 3px;
}

.reveal-modal {
    width: 650px;
}

.modal-header {

    .close {
        font-size: 26px;
        opacity: 0.8;
    }

    button.ajax-modal-close {
        border-radius: 4px;
        padding: 3px 8px 2px 9px;
        text-shadow: none;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;

        &:hover {
            background-color: #d9534f;
            color: $white;
            opacity: 1;
        }
    }
}

.modal-title {    
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.facet_pagination {
    overflow: hidden;

    &.top {
        padding: 15px 15px 0;
    }

    a {
        color: #0579b8;
        text-decoration: none;
        -webkit-transition: border 0.28s cubic-bezier(0.28,1.08,1,0.96);
        transition: border 0.28s cubic-bezier(0.28,1.08,1,0.96);

        &:hover {
            text-decoration: none;
        }
    }

    .sort_options {
        color: $jet;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.17px;
        line-height: 16px;
        padding: 5px 9px;
        text-transform: uppercase;

        a.btn-default {
            border-color: $jet;
            color: $jet;
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;

            &:hover {
                background-color: $medium-gray;
                border-color: $medium-gray;
                color: $white;
            }
        }
    }
}

.collapse-non-md {
    height: 0;
    display: none;
}
.collapse-non-md.collapsing {
    display: block;
}

@media (min-width: 992px) {
    .collapse-non-md {
        height: auto;
        display: block;
    }
}

.limit_content.range_limit {

  form {
    margin: 0 0 10px;
  }

  input.range_begin, input.range_end {
    padding: 21px 6px 22px 9px;
    margin-top: -1px;
    color: $jet;
    width: 4.0em;
  }

  input[type="submit"] {
    background-color: $medium-gray;
    color: $white;
  }

  input.range_begin {
    margin-right: 6px;
  }

  input.range_end {
    margin-right: 7px;
    margin-left: 6px;
  }

  .btn {
    padding: 6px 9px;
  }
}

.btn-default.active, .btn-default.active:hover {
    background-color: $medium-gray;
    border-color: $medium-gray;
    box-shadow: none;
    color: $white;
}

.facet_extended_list { 

    .facet-label .facet_select {
        display: inline-block;
        max-width: 75%;
        padding-left: 0;
        &:before {
            display: none;
        }
    }

    .facet-count {
        color: #666;
        float: right;
    }
}

/* CURIOSity ad banner below facet rail */

#curiosity {
    background: $white url(https://library.harvard.edu/themes/custom/harvard/assets/images/dots.png) top center repeat;
    font-family: $font-family-sans-serif;
    margin-top: 40px;
    text-align: center;
    padding: 40px 20px 45px;

    h3 {
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 1.8px;
        line-height: 1.4;
        padding: 0;
        margin-top: 0;
        text-align: center;
        text-transform: uppercase;
    }

    p {
        font-size: 19px;
        line-height: 32px;
        margin: 0 auto;
        padding: 10px 0 30px;
        text-align: center;
    }

    a {
        background-color: $jet;
        border-color: transparent;
        border-radius: 4px;
        color: $white;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.17px;
        line-height: 16px;
        margin: 20px auto;
        padding: 5px 9px;
        text-transform: uppercase;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;

        &:hover {
            background-color: $medium-gray;
            text-decoration: none;
        }
    }

}

@media (max-width: 1200px) {
    #curiosity {
        display: none;
    }
}