@import "settings";
@import "icons";

#facets .panel-group {
    margin-bottom: 0;
}

h2.facets__heading {
  color: $white;
  font-family: $font-family-sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  padding: 35px 0 5px 25px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.facets__container a {
  color: $rouge;
}

.facet-content {
  overflow: hidden;
}

ul.facet-values {
  margin-bottom: 10px;
  padding-left: 0;
}

ul.facet-values li {
  margin-bottom: 6px;
  display: block;
  &:last-child {
    margin-bottom: 0;
  }
}

.facet_select,
.selected,
.facet-count {
  font-size: rem-calc(14);
  color: $jet;
}

.facet-label {
    .facet_select, .selected {
        display: block;
        padding: 0 0 0 55px;
        max-width: 85%;
        position: relative;

        &:before {
            display: block;
            content: ' ';
            position: absolute;
            left: 20px;
            top: 0;
            background: white;
            width: 20px;
            height: 20px;
            border-radius: 3px;
        }
    }
}
.facets__container a.remove {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 22px;
    top: 10px;
}

.glyphicon-remove {
    @include fa-icon;
    @include fa-icon-content("\f00c");
}

.facets__container a.facets__clearall {
    color: $light-blue;
    display: block;
    padding: 0 0 0px 25px;
    font-size: rem-calc(14);
    letter-spacing: 0.5px;
    font-family: $font-family-sans-serif;
    text-decoration: none;
}

.toggle-wrapper {
    overflow: hidden;
    border-bottom: 1px solid #444;
}

button.toggle-all-facets {
    font-family: $font-family-sans-serif;
    font-size: rem-calc(12);
    border: none;
    border-radius: 4px 4px 0 0;
    color: white;
    float: right;
    padding: 6px 20px 6px 10px;
    background: #444;
    float: right;
    margin: 0 20px 0 0;
    position: relative;
    letter-spacing: 0.5px;

    &:hover {
        background: #444;
    }

    > span {
        min-width: 80px;

        span {
            &:before {
                position: absolute;
                right: 6px;
                color: $red;
                top: 8px;
                font-size: rem-calc(16);
            }
        }
    }

    .expand-text {
        display: inline-block;
        font-weight: 300;
    }

    .collapse-text {
        display: none;
        font-weight: 300;
    }

    &[aria-expanded=true] .collapse-text {
        display: inline-block;
    }

    &[aria-expanded=true] .expand-text {
        display: none;
    }
}


a.facet__title {
    &:hover, &:active, &:focus {
        text-decoration: none;
    }

    span.toggle {
        color: $red;
        font-size: rem-calc(20);
        position: relative;
        top: 0px;
        float: right;

        &.facet-expand {
            display: inline-block;

        }



        &.facet-collapse {
            display: none;
        }
    }
}

.facets__container {
    background-color: $dark-gray;
    padding-bottom: 10px;

    .accordion, dl.accordion {
        font-family: $font-family-sans-serif;

        .accordion-navigation {
            border-bottom: 1px solid #444;
            padding: 25px 0;
            margin: 0 25px;

            &.active {
                .facet__title {
                    span.facet-collapse {
                        display: inline-block;
                    }

                    span.facet-expand {
                        display: none;
                    }
                }
            }

            & > a {
                font-family: $font-family-sans-serif;
                background: transparent;
                color: #fff;
                text-transform: uppercase;
                font-size: rem-calc(14);
                letter-spacing: 2px;
                padding: 25px 0 25px 0;
            }

            & > .content.active {
                padding: 25px 0 0 0;
                background: transparent;

                li {
                    background: $light-gray;
                    padding: 12px 35px 12px 0px;
                    position: relative;
                    border-radius: 5px;

                    a {
                        color: $jet;
                        text-decoration: none;
                    }

                    .facet-count {
                        color: #666;
                        position: absolute;
                        right: 18px;
                        top: 11px;
                        text-align: right;
                        width: auto !important;
                    }

                    &.more_facets_link {
                        background: transparent;
                        padding-right: 0;
                        a.more_facets_link {
                            color: $light-blue;
                            float: right;
                        }
                    }
                }
            }

            & > .content {
                padding: 25px 0 0 0;
                background: transparent;

                li {
                    background: $light-gray;
                    padding: 12px 35px 12px 0px;
                    position: relative;
                    border-radius: 5px;

                    a {
                        color: $jet;
                        text-decoration: none;
                    }

                    .facet-count {
                        color: #666;
                        position: absolute;
                        right: 18px;
                        top: 11px;
                        text-align: right;
                        width: auto !important;
                    }

                    &.more_facets_link {
                        background: transparent;
                        padding-right: 0;
                        a.more_facets_link {
                            color: $light-blue;
                            float: right;
                        }
                    }
                }
            }
        }

        &:last-child {
            .accordion-navigation {
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}

#ajax-modal {
    z-index: 2000;
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-family: $font-family-sans-serif;
    margin: 0 auto;
    overflow: hidden;
    width: 600px;

    @media(max-width: 320px) {
        width: 300px;
    }
}

.content.active .facet-label .selected::before {
    background: $breakthrough-blue;
}

.content.active li a .fa-check {
    color: $white;
}

.reveal-modal {
    width: 650px;
}

.modal-header .close {
    font-size: 26px;
    opacity: 0.8;
}

.modal-title {    
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.facet_pagination {
    overflow: hidden;

    &.top {
        padding: 15px 15px 0;
    }

    a {
        color: #0579b8;
        text-decoration: none;
        -webkit-transition: border 0.28s cubic-bezier(0.28,1.08,1,0.96);
        transition: border 0.28s cubic-bezier(0.28,1.08,1,0.96);

        &:hover {
            text-decoration: none;
        }
    }

    .sort_options {
        color: $jet;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.17px;
        line-height: 16px;
        padding: 5px 9px;
        text-transform: uppercase;

        a.btn-default {
            border-color: $jet;
            color: $jet;
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;

            &:hover {
                background-color: $medium-gray;
                border-color: $medium-gray;
                color: $white;
            }
        }
    }
}

.collapse-non-md {
    height: 0;
    display: none;
}
.collapse-non-md.collapsing {
    display: block;
}

@media (min-width: 992px) {
    .collapse-non-md {
        height: auto;
        display: block;
    }
}

.limit_content.range_limit {   
    form {
        margin: 0 0 10px;
    }
    input.range_begin, input.range_end {
        padding: 21px 10px 22px;
        margin-top: -1px;
    }
    input[type="submit"] {
        background-color: #E0E0E0;
    }
    input.range_end {
        margin-right: 20px;
    }
}

.btn-default.active, .btn-default.active:hover {
    background-color: $medium-gray;
    border-color: $medium-gray;
    box-shadow: none;
    color: $white;
}

.facet_extended_list { 
    .facet-label .facet_select {
        display: inline-block;
        max-width: 75%;
        padding-left: 0;
        &:before {
            display: none;
        }
    }

    .facet-count {
        color: #666;
        float: right;
    }
}

.facets__container a.remove {
    left: 23px;
    top: 12px;
}