@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenorg-webfont.woff2") format("woff2"),
     url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenorg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenorgit-webfont.woff2") format("woff2"),
     url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenorgit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoultlt-webfont.woff2") format("woff2"),
     url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoultlt-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoultltit-webfont.woff2") format("woff2"),
     url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoultltit-webfont.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenolt-webfont.woff2") format("woff2"),
     url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenolt-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoltit-webfont.woff2") format("woff2"),
     url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoltit-webfont.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenosbd-webfont.woff2") format("woff2"),
     url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenosbd-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenosbdit-webfont.woff2") format("woff2"),
     url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenosbdit-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenobd-webfont.woff2") format("woff2"),
     url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenobd-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenobdit-webfont.woff2") format("woff2"),
     url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenobdit-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoblk-webfont.woff2") format("woff2"),
     url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoblk-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;

}

@font-face {
  font-family: "Trueno";
  src: url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoblkit-webfont.woff2") format("woff2"),
     url("https://library.harvard.edu/themes/custom/harvard/assets/fonts/truenoblkit-webfont.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}