@font-face {
    font-family: TruenoSBd;
    font-weight: 400;
    src: url("https://s3.amazonaws.com/archimedes-data001/fonts/TruenoSBd.otf")
}

@font-face {
    font-family: TruenoBd;
    font-weight: 400;
    src: url("https://s3.amazonaws.com/archimedes-data001/fonts/TruenoBd.otf")
}

@font-face {
    font-family: TruenoRg;
    font-weight: 400;
    src: url("https://s3.amazonaws.com/archimedes-data001/fonts/TruenoRg.otf")
}
