@import "settings";

#progress {
	width: 100%;
	height: 30px;
	background-color: white;
	position: relative;
	border: solid;
	border-color: silver;
	border-radius: 5px;
}

#bar {
	width: 0%;
	height: 24px;
	background-color: silver;
}

#loading-text {
	position: absolute;
	top: 5px;
	height: 20px;
	font-family: "Trueno", Helvetica, Roboto, Arial, Bold,  sans-serif;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	z-index: 10;
}

#ft-dl-noresults {
	margin-bottom: 300px;
}