@import "settings";

#ft-dl-progress {
	display: inline-block;
	width: 100%;
	height: 30px;
	background-color: $subtle-gray;
	position: relative;
	border: solid;
	border-width: 2px;
	border-color: $silver;
	border-radius: 5px;
	margin-top: 10px

}

#ft-dl-bar {
	width: 0%;
	height: 27px;
	background-color: $silver;
}

#ft-dl-page-counter {
	position:fixed;
	bottom:0;
	right:0;
	width: 85px;

	font-family: "Trueno", Helvetica, Roboto, Arial, Bold,  sans-serif;
	text-transform: uppercase;
	text-align: center;
	background-color: $light-gray;
}

$progress-bar-top-spacing: 2px;

$spinner-size: 15px;

#ft-dl-loading-text {
	position: absolute;
	top: $progress-bar-top-spacing;
	height: 20px;
	font-family: "Trueno", Helvetica, Roboto, Arial, Bold,  sans-serif;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	z-index: 10;
}


.ft-dl-spinner-container{
	display: inline-block;
	position:relative;
	width: $spinner-size;
	height: $spinner-size;
	top: $progress-bar-top-spacing;
	margin-left: 5px
}

.ft-dl-spinner{
  position: absolute;
  border: 4px solid $light-gray; /* Light grey */
  border-top: 4px solid $silver; /* Blue */
  border-radius: 50%;
  width: $spinner-size;
  height: $spinner-size;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#ft-dl-title-box{
	width:100%;
	position: relative;
	display: flex;
	margin-bottom: 20px;
}

#ft-dl-title-box h4{
	margin: 0;
}

#ft-dl-field-name{
	position:absolute;
	top:0;
	left:0;
	width:180px;
}

#ft-dl-field-name h2{
	margin: 0;
}

.ft-dl-header h2{
	font-size: 15px; 
}

#ft-dl-display-label{
	flex-grow: 1;
	margin-left: 220px;
	margin-right: 220px;
	font-family: $font-family-serif;
}

#ft-dl-about-content{
	display: none;
}

#ft-dl-download{
	margin-top: 0;
	position:absolute;
	right:0;
	width:180px;
	height: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#fulltext-zone{
	display: inline-block;
}

button.btn-dark {
	margin-top: 20px;
	font-family: $font-family-sans-serif;
	font-weight: 600;
	background-color: $jet;
	color: $white;
	letter-spacing: 1.17px;
	padding: 6px 28px;
	text-transform: uppercase;
}

button.btn-dark:hover{
	color: $light-gray;
}

#ft-dl-noresults {
	margin-bottom: 300px;
}