@import "settings";
@import "icons";

.blacklight-application-home .row {
  max-width: 100%;
  margin: 0;
}

.homepage-title {
  display: none;
}

.homepage-title-small {
  font-family: $font-family-sans-serif;
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 2.48px;
  text-transform: uppercase;
}

.homepage-title-large {
  font-family: 'Lora', serif;
  font-size: 64px;
  font-style: italic;
  line-height: 80px;
}

.blacklight-application-home .search-query-form {
  padding: 106px 20px 157px 150px;
  margin: 0;
  position: relative;
}

@media(max-width: 992px) {
  .blacklight-application-home .search-query-form {
    padding-left: 40px;    
  }
}

.home-photo-credit {
  display: none;
}

.blacklight-application-home .home-photo-credit {
  background-color: rgba(30,30,30,0.7);
  border: 10px transparent solid;
  color: #fff;
  display: unset;
  font-size: 13px;
  padding-left: 30px;
  position: absolute;
  bottom: 0px;
  right: 100px;
  z-index: 3;
}

.blacklight-application-home .photo-credit {
  position: relative;
}

.blacklight-application-home .image-credit-icon {
  color: inherit;
  height: 20px;
  padding-right: 5px;
  position: absolute;
  left: -29px;
  top: 9px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 22px;
}

.blacklight-application-home .image-credit-icon svg {
  height: 100%;
  width: 100%;
}


.home-photo-credit a {
  color: #fff;
  font-family: $font-family-sans-serif;
  display: block;
  font-weight: 100;
}

.home-photo-credit a:hover {
  text-decoration: underline;
}

.blacklight-application-home .row.enclosing-row {
  margin: 0;
  max-width: 100%;
}

.blacklight-application-home .row.enclosing-row   .row {
  margin: 0 auto;
  max-width: 75rem;
  width: 100%;
}

.blacklight-application-home .homepage-title {
  display: block;
  color: white;
  font-size: rem-calc(32);
  text-align: left;
  margin-top: 20px;
  margin-bottom: 35px;
}

.blacklight-application-home .navbar-form {
  border-bottom: none;
  border-top: none;
}

.blacklight-application-home .search-field-input-wrapper {
  width: 50%;
  margin-left: 0;
  padding-left: 0;
  input {
    height: 60px;
    font-size: rem-calc(18);
    padding-left: 20px;
    margin-bottom: 0;
  }
}
.blacklight-application-home .advanced-search-wrapper.advanced-search-wrapper.advanced-search-wrapper {
  margin-left: 25%;
  width: 50%;
  float: left;
  text-align: right;
  clear: left;
  .searchbar__advanced {
    text-transform: none;
    letter-spacing: 0.75px;
  }
}

.blacklight-application-home #main-container {
  background-color: inherit;
  padding: 33px 0;
}

.blacklight-application-home #main-container h2 {
  font-family: $font-family-sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2.4px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.blacklight-application-home #main-container p {
  color: #414141;
  font-family: $font-family-serif;
  font-size: 19px;
  line-height: 32px;
  margin: 0 auto 1.84em;
  width: 930px;
}

.blacklight-application-home .searchbar__wrapper {
  background-image: image-url('home-background.png');
  background-color: white;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 515px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.home-page-list {
}

.home-page-list h3 {
  font-size: rem-calc(20);
  font-weight: bold;
  color: white;
  background-color: black;
  line-height: rem-calc(58);
  padding: 0 25px;
  margin-bottom: 0;
}

.home-page-list {
  ul {
    background-color: white;
    padding-left: 25px;
    padding-top: 14px;
    min-height: 500px;
  }
  li {
    margin-bottom: 9px;
  }
  margin-bottom: 10px;
}

.blacklight-application-home .lower-background {
  background-color: white;
  h2 {
    font-size: 24px;
    font-weight: normal;
    padding: 30px 0;
    font-family:  "Benton Sans Bd", Helvetica, Roboto, Arial, sans-serif;
  }
}

.feedback-solicitation {
  text-align: center;
}

.hl__button {
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.17px;
  line-height: 19px;
  padding: 24px 0px 0px 0px;

  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.hl__button--secondary {
  background-color: #0579b8;
  border-color: transparent;
  color: #fff;
}

.hl__button--secondary:focus, .hl__button--secondary:hover {
  background-color: #2a5280;
}

@media screen and (max-width: 768px) {
  .blacklight-application-home .search-field-input-wrapper {
    width: 85%;
  }
  .blacklight-application-home #main-container p {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .blacklight-application-home #main-container p {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .blacklight-application-home #main-container p {
    width: 930px;
  }
}
