
/* include variables */
//$fa-var-ambulance: "\f0f9";
/* [...] */
@import "font-awesome-sprockets";
@import "font-awesome";

/* include mixins */
@mixin fa-icon() {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* [...] */

/* Custom mixin */
@mixin fa-icon-content($fa-icon) {
  &:before { content: $fa-icon; }
}


@mixin remove-icon() {
  color: $white;
  background: #6C6C6C;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 10px;
  line-height: 16px;
  border-radius: 50%;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

dl.audio {
  background-image: image-url('icons/Audio.svg')
}
dl.archival-items {
  background-image: image-url('icons/ArchivalItems.svg')
}
dl.audio {
  background-image: image-url('icons/Audio.svg')
}
dl.books {
  background-image: image-url('icons/Books.svg')
}
dl.drawings---illustrations {
  background-image: image-url('icons/DrawingsIllustrations.svg')
}
dl.manuscripts {
  background-image: image-url('icons/Manuscripts.svg')
}
dl.maps {
  background-image: image-url('icons/Maps.svg')
}
dl.objects {
  background-image: image-url('icons/Objects.svg')
}
dl.periodicals {
  background-image: image-url('icons/Periodicals.svg')
}
dl.photographs {
  background-image: image-url('icons/Photographs.svg')
}
dl.posters {
  background-image: image-url('icons/Posters.svg')
}
dl.video---moving-images {
  background-image: image-url('icons/VideoMovingImages.svg')
}