@import "settings";
@import "util";
@import "icons";

.page-header-page-links-column {
  margin-bottom: 20px;
  a {
    color: $breakthrough-blue;
  }
  .page_links {
    float: right;
  }
}


// Only show H1 to screen readers
body.blacklight-catalog-show #document h1 {
  @include sr-only();
}

.original-document-wrapper iframe {
  width: 100%;
  height: 540px;
  border: none;
  margin-bottom: 50px;
}


.accordion.record-details .accordion-navigation > a {
  padding: 0;
  text-decoration: none;
}

.record-details h3 {
  background-color: transparent;
  color: $jet;
  font-size: rem-calc(18);
  padding: 23px 25px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-family: 'TruenoBd', sans-serif;
}

.record-details span.toggle {
  @include fa-icon;
  @include fa-icon-content($fa-var-plus);
  color: $jet;
  font-size: rem-calc(18);
  position: relative;
  top: 6px;
  float: right;
}

.record-details dd.accordion-navigation:not(:first-child) {
  border-top: 2px solid white;
}

.record-details dl {
  display: table;
  padding: 20px 20px 30px;
  margin-bottom: 0;
  width: 100%;
}

.record-details dl dt {
  width: 250px;
  float: left;
  text-align: left;
  font-family: "TruenoSBd", Helvetica, Roboto, Arial, sans-serif;
  font-size: 20px;
  display: table-cell;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  vertical-align: top;
  margin: 0;
  padding: 40px 0;
  &:after {
    clear: both;
  }
}

.record-details dl dd {
  width: 100%;
  float: none;
  text-align: left;
  font-family: 'Lora', serif;
  font-size: 15px;
  vertical-align: top;
  margin: 0;
  padding: 40px 0 40px 251px;
  line-height: 28px;
  display: block;
  border-bottom: 1px solid #d8d8d8;
  &:after {
    clear: both;
  }
}

.record-details dd.blacklight-title_extended {
  font-size: 24px;
  font-weight: bold;
}

.dl-horizontal dd:before, .dl-horizontal dd:after {
  display: none;
}


.record-details #related,
.record-details #reuse {
  font-family: 'Lora', serif;
  padding: 20px;
}

.record-tools {
  width: 100%;
  float: none;
  text-align: left;
  font-family: 'Lora', serif;
  font-size: 15px;
  vertical-align: top;
  margin: 0;
  padding: 40px 40px 40px 40px;
  line-height: 28px;
  display: block;
  border: 1px solid #d8d8d8;
  &:after {
    clear: both;
  }
}

.record-tools h2 {
  float: left;
  text-align: left;
  font-family: "TruenoSBd", Helvetica, Roboto, Arial, sans-serif;
  font-size: 18px;
  display: table-cell;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: top;
  margin: 0;
  &:after {
    clear: both;
  }
}

.record-tools dl dt {
  width: 250px;
  float: left;
  text-align: left;
  font-family: "TruenoSBd", Helvetica, Roboto, Arial, sans-serif;
  font-size: 14px;
  display: table-cell;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  vertical-align: top;
  margin: 0;
  color: #7d7d7d;
  padding-top: 20px;
  padding-bottom: 20px;
  &:after {
    clear: both;
  }
}

.record-tools button.btn-dark {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #000000;
  color: #ffffff;
}

.record-tools dl.dl-appears-in {
  border-bottom: 2px dotted #d8d8d8;
  margin-top: 20px;
}