@import "settings";


ul.pagination {
  border-top: 1px solid #D4D1D1;
}

.jump-pagination {
  margin: 0 auto;
  width: 300px;
  text-align: center;
  line-height: 50px;
  margin-top: 40px;
  font-size: rem-calc(16);
}

.jump-pagination input[type=text],
.jump-pagination input[type=submit] {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 25px;
}

.jump-pagination input[type=submit] {
  background-color: $rouge;
  text-transform: uppercase;
  color: white;
  font-size: rem-calc(16);
  font-weight: bold;
}

ul.pagination.pagination {
  margin: 40px auto 0;
  padding-top: 20px;
  & > li {
    display: inline-block;
  }
}