@import "settings";

.pagination {
  width: 100%;
}

ul.pagination {
  border-top: 1px solid $silver;
  font-family: $font-family-sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.pagination > li { 
  > a {
    border: none;
    border-radius: 4px;
    color: $breakthrough-blue;
    padding: 6px 16px;
    text-decoration: none;

    &:hover {
      background-color: $subtle-gray;
    }
  }

  > span {
    padding: 6px 16px;
  }
}

.pagination > .active > span {
  background-color: $subtle-gray;
  border: none;
  border-radius: 4px;
  color: $medium-gray;

  &:hover {
    background-color: $subtle-gray;
    color: $medium-gray;
  }
}

.pagination > .disabled {
  > span {
    border: none;
  }
  
  > a {
    font-weight: 300;
  }
}

.jump-pagination {
  margin: 0 auto;
  width: 300px;
  text-align: center;
  line-height: 50px;
  margin-top: 40px;
  font-size: rem-calc(16);
}

.jump-pagination input[type=text],
.jump-pagination input[type=submit] {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 25px;
}

.jump-pagination input[type=submit] {
  background-color: $rouge;
  text-transform: uppercase;
  color: white;
  font-size: rem-calc(16);
  font-weight: bold;
}

ul.pagination.pagination {
  margin: 40px auto 0;
  padding-top: 20px;
  & > li {
    display: inline-block;
  }
}