@import "settings";

.searchbar__wrapper {
  width: 100%;
  height: auto;
  padding: 8px 0;
  margin-bottom: 0;
  background-color: $search-bg-gray;
  font-family: $font-family-sans-serif-light;
}

.searchbar__wrapper .row {
  margin: 0;
}

.navbar-form {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}


.search-field-input-wrapper {
  display: flex;

  @media screen and (min-width: 768px) {
    width: 40%;
  }

  @media screen and (min-width: 1000px) {
    width: auto;
  }
}


input.searchbar__text[type=text] {
  color: #6C6C6C;
  font-family: $font-family-sans-serif-light;
  font-size: rem-calc(16);
  font-weight: 300;
  height: 34px;
  border: 1px $border-gray solid;
  border-right: none;
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  display: block;
  width: calc(100% - 45px);

  @media screen and (min-width: 768px) {
    height: 44px;
  }

  @media screen and (min-width: 1000px) {
    width: 448px;
  }
}

.searchbar__advanced {
  color: white;
  font-size: rem-calc(14);
  font-weight: lighter;
  letter-spacing: 0.1em;
  line-height: 44px;
  text-transform: uppercase;
  &:hover {
    color: white;
    font-weight: bold;
  }
}

.search-btn {
  background: #6c6c6c;
  width: 44px;
  height: 34px;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  .fa-search {
    color: $white;
  }

  @media screen and (min-width: 768px) {
    width: 52px;
    height: 44px;
    padding-top: 2px;

    .fa-search {
      font-size: 18px;
    }
  }
}

.search-constraints {
  padding: 20px 0 0 0;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    padding: 0px 0px 0px 28px;
  }

  .facets__clearall {
    display: block;
    width: 100%;
    margin-top: 5px;

    a {
      border-bottom: 2px solid transparent;
      -webkit-transition: $link-fade;
      transition: $link-fade;
      &:hover {
        border-bottom: 3px solid rgba(5,121,184,0.3);
        text-decoration: none;
      }
    }
  }
}