@import "settings";

#documents {
    .documentHeader {
        h3.document-title-heading {
            line-height: 1.1;

            a {
                color: $breakthrough-blue;
                font-size: 18px;
                line-height: 24px;
                font-family: $font-family-sans-serif;
                font-weight: 700;
                text-decoration: none;
                -webkit-transition: border 0.28s cubic-bezier(0.28,1.08,1,0.96);
                transition: border 0.28s cubic-bezier(0.28,1.08,1,0.96);

                &:hover {
                    border-bottom: 3px solid rgba(5,121,184,0.3);
                }
            }
        }
    }

    .document-metadata {
        font-family: $font-family-serif;
        font-size: 14px;
        line-height: 24px;
    }


    &.documents-list {
        .document {
            overflow: hidden;
            margin-bottom: 10px;

            .document-thumbnail {
                float: left;
                width: 25%;
                min-height: 100px;


                img {
                    max-width: 100%;
                }
            }

            .documentHeader, .document-metadata {
                margin-left: 5%;
                width: 90%;
            }
        }
    }
}

.gallery .thumbnail {
    border: none;
    min-height: 100px;
}

.masonry.document .caption {
    line-height: 17px;
    background-color: rgba(255, 255, 255, 0.8);
    color: $jet;
    font-family: $font-family-sans-serif;
    text-align: left;

    a {
        color: $jet;
        font-weight: 400;
        text-decoration: none;
        text-shadow: none;
    }
}