@import "icons";
@import "settings";

.search-header.search-header.search-header {
  font-size: rem-calc(18);
  padding-bottom: 30px;
  border-bottom: 1px solid #D4D1D1;
  margin-bottom: 30px;
}

@media(max-width: 992px) {
  .search-header.search-header.search-header {
    padding-top: 30px;
  }
}

.search-header .view-mode {
  float: left;
}

.view-type-group .btn-default {
  -webkit-transition: background-color .28s ease-in;
  transition: background-color .28s ease-in;
}

.view-mode__grid,
.view-mode__list {
  padding: 5px;
  &.active {
    color: #222;
  }
}

.view-mode__list {
  @include fa-icon;
  @include fa-icon-content($fa-var-list-ul);
}

.view-mode__grid {
  @include fa-icon;
  @include fa-icon-content($fa-var-th);
}

.constraint.query {
  margin-right: 5px

}


.appliedFilter.constraint {
  padding-bottom: 0px;
  margin: 0 5px 4px 0;
  border: 1px solid $border-gray;
  border-radius: 4px;
  background: $subtle-gray;

  .btn-sm.btn-default {
    border: none;
    background: transparent;
  }

  a.dropdown-toggle {
    -webkit-transition: all .28s ease-in;
    transition: all .28s ease-in;
    padding-left: 11px;
    padding-right: 10px;

    &:hover {
      // background-color: #d9534f;
      color: $white;
      cursor: pointer;
    }

    .fa-times {
      @include remove-icon();

      &:hover {
        background-color: #d9534f;
      }
    }
  }

  .btn-default:hover {
    background-color: transparent;
    cursor: initial;
  }
}

.constraint.filter,
.constraint.appliedFilter {
  white-space: nowrap;
  .btn-sm {
    font-size: 14px;
  }

  .filterName {

    &:after {
      content: ": ";
    }
  }
}

#per-page-dropdown {
  border: 1px solid $silver;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  padding: 3px 10px 4px;
  width: 121px;

  &.open {
    border-radius: 4px 4px 0 0;

    .dropdown-menu {
        opacity: 1;
      }

    span.caret {
      transform: scaleY(-1);
    }
  }

  & > a {
    color: #222;
    text-decoration: none;

    span.caret {
      @include fa-icon;
      margin-left: 8px;
      margin-top: -2px;
      -webkit-transition: transform .28s ease-out;
      transition: transform .28s ease-out;
    }
  }

  .dropdown-menu {
    border-radius: 0 0 4px 4px;
    border: 1px solid #C0C0C0FF;
    border-top: none;
    box-shadow: none;
    margin: 0 0 0 -1px;
    min-width: 121px;
    opacity: 0;
    -webkit-transition: opacity .28s 0.1s;
    -moz-transition: opacity .28s 0.1s;
    transition: opacity .28s 0.1s;

    & > li > a {
      padding: 3px 10px;
      -webkit-transition: background 0.28s ease;
      transition: background 0.28s ease;
    }
  }
}

.f-dropdown.open {
  border-top: none;
  max-width: 117px;
  margin-left: -11px;
  padding-left: 2px;
  padding-right: 2px;
  &:before,
  &:after {
    display: none;
    width: 0;
    height: 0;
    content: "";
  }
}

.f-dropdown li a {
  text-decoration: none;
}

.row.search-header {
  font-size: 14px;
  font-family: $font-family-sans-serif-light;

  .page-entries {
    font-size: 16px;
  }
}

.view-type {
  display: inline-block;
}

.view-type-group.btn-group {
  padding-bottom: 2px;
}

.view-type a.btn.btn-default {
  line-height: 15px;
}

.view-type span.caption {
  display: none;
}
