<h2>Welcome to Harvard Digital Collections</h2>

<p>We’re excited to share this long-awaited platform for finding digitized materials from Harvard Library. For the first time, you can view information from our catalogs alongside digitized versions of these treasures.</p>

<p>This is a pre-beta version of the site, so you might notice some bugs or see room for improvement. That’s okay! We’re still making updates before our beta release this summer.</p>

<p>Like what you see? Have an idea for an enhancement?</p>

<div class="feedback-solicitation">
	<a href="somewhere.html" class="hl__button hl__button--secondary" title="Visit link for &quot;Tell Us What You Think&quot;"><span class="hl__button__text">Tell Us What You Think</span></a>
</div>

