<div class="hl__blacklightHome">
	<div class="hl__page-header">
		<div class="hl__page-header__background-screen"></div>
		<div class="hl__page-header__container">
			<h1 class="hl__page-title">Harvard</h1>
			<h3 class="hl__page-subtext">Digital Collections</h3>
            <form class="search-query-form clearfix navbar-form" role="search" action="/catalog" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="search_field" id="search_field" value="all_fields" />
				<div class="hl__searchContainer">
					<div class="hl__searchInputOuter">
						<i class="mdi mdi-magnify mdi-36px hl__searchIcon"></i><input name="q" id="q" type="text" placeholder="Try &quot;lantern slides&quot; or &quot;colonial north america&quot;" value="">
						<button type="submit"  id="search">
							Search<img class="seeAllIcon" src="https://s3.amazonaws.com/archimedes-data001/hul/images/arrow_right.svg" alt="">
						</button>
					</div>
				</div>
			</form>
		</div>
		<a class="hl__viewDetails" href="/"><img src="https://s3.amazonaws.com/archimedes-data001/hul/images/collection.svg" alt=""><span href="">View Item Details</span></a>
		<div class="hl__overlayContainer">
			<h3>WE'RE IN BETA!</h3>
			<p>
				<!-- react-text: 677 -->Thanks for trying out our new site. There might be a few glitches, but we wanted to let you test it out ASAP. Please <!-- /react-text --><a href="">let us know what you think</a><!-- react-text: 679 -->.<!-- /react-text -->
			</p>
		</div>
	</div>
	<section class="hl__blacklightHomeMain">
		<section class="hl__blacklightHome__highlights">
			<h2 class="hl__blacklightHome__sectionTitle">Collection Highlights</h2>
			<button class="hl__blacklightHome__moreHighlights">
				<img class="moreHighlightsIcon" src="https://s3.amazonaws.com/archimedes-data001/hul/images/moreHighlights.svg" alt=""><!-- react-text: 685 -->More Highlights<!-- /react-text -->
			</button>
			<div class="hl__blacklightHome__moreHighligthsFeaturedContainer">
				<div></div>
			</div>
			<div class="hl__blacklightHome__seeAllContainer">
				<a class="hl__blacklightHome__seeAll" href="http://dcp-dev2.lib.harvard.edu/">
					<!-- react-text: 690 -->See all collections <!-- /react-text --><img class="seeAllIcon" src="https://s3.amazonaws.com/archimedes-data001/hul/images/arrow_right.svg" alt="">
				</a>
			</div>
		</section>
		<section class="hl__blacklightHome__related">
			<h2 class="hl__blacklightHome__sectionTitle">Related Services &amp; Tools</h2>
			<div class="hl__blacklightHome__relatedContainer">
				<a class="hl__blacklightHome__relatedTeaser" tabindex="0" href="https://library.harvard.edu/services-tools/reproductions">
					<div class="hl__blacklightHome__iconContainer"><img src="https://s3.amazonaws.com/archimedes-data001/hul/images/gear.svg" alt="gear icon"></div>
					<div class="hl__blacklightHome__relatedTeaser__content">
						<h3 class="hl__blacklightHome__relatedTeaser__class">Service</h3>
						<h3 class="hl__blacklightHome__relatedTeaser__name">Reproductions</h3>
						<p class="hl__blacklightHome__relatedTeaser__desc">A single short sentence describing what this service or tool is, and why it's valuable to our target audience.</p>
					</div>
				</a>
				<a class="hl__blacklightHome__relatedTeaser" tabindex="0" href="https://library.harvard.edu/services-tools/hollis-images">
					<div class="hl__blacklightHome__iconContainer"><img src="https://s3.amazonaws.com/archimedes-data001/hul/images/tool.svg" alt="tool icon"></div>
					<div class="hl__blacklightHome__relatedTeaser__content">
						<h3 class="hl__blacklightHome__relatedTeaser__class">Tool</h3>
						<h3 class="hl__blacklightHome__relatedTeaser__name">HOLLIS Images</h3>
						<p class="hl__blacklightHome__relatedTeaser__desc">A single short sentence describing what this service or tool is, and why it's valuable to our target audience.</p>
					</div>
				</a>
				<a class="hl__blacklightHome__relatedTeaser" tabindex="0" href="https://library.harvard.edu/services-tools/hollis-archival-discovery">
					<div class="hl__blacklightHome__iconContainer"><img src="https://s3.amazonaws.com/archimedes-data001/hul/images/tool.svg" alt="tool icon"></div>
					<div class="hl__blacklightHome__relatedTeaser__content">
						<h3 class="hl__blacklightHome__relatedTeaser__class">Tool</h3>
						<h3 class="hl__blacklightHome__relatedTeaser__name">Archival Discovery</h3>
						<p class="hl__blacklightHome__relatedTeaser__desc">A single short sentence describing what this service or tool is, and why it's valuable to our target audience.</p>
					</div>
				</a>
			</div>
		</section>
		<section class="hl__blacklightHome__itemHighlights">
			<h2 class="hl__blacklightHome__sectionTitle">Item Highlights</h2>
			<button class="hl__blacklightHome__moreHighlights">
				<img class="moreHighlightsIcon" src="https://s3.amazonaws.com/archimedes-data001/hul/images/moreHighlights.svg" alt=""><!-- react-text: 720 -->More Highlights<!-- /react-text -->
			</button>
			<div class="hl__blacklightHome__itemHighlightsContainer">
				<a class="hl__blacklightHome__itemHighlightsFeatured" tabindex="0">
					<div class="hl__blacklightHome__itemHighlightsFeaturedImage" style="background-image: url(&quot;https://ids.lib.harvard.edu/ids/view/3304779?width=150&amp;height=150&amp;usethumb=y&quot;);"></div>
					<div class="hl__itemHighlightsMetaContainer">
				<a href="/items/990096964190203941"><h3 class="hl__itemHightlightsTitle">Welsh people of California, 1849-1906 An historical sketch awarded the prize at...</h3></a></div></a>
				<a class="hl__blacklightHome__itemHighlightsFeatured" tabindex="0">
					<div class="hl__blacklightHome__itemHighlightsFeaturedImage" style="background-image: url(&quot;https://ids.lib.harvard.edu/ids/view/4751247?width=150&amp;height=150&amp;usethumb=y&quot;);"></div>
					<div class="hl__itemHighlightsMetaContainer">
				<a href="/items/990097029140203941"><h3 class="hl__itemHightlightsTitle">general Fructuoso Rivera y la independencia nacional</h3></a></div></a>
				<a class="hl__blacklightHome__itemHighlightsFeatured" tabindex="0">
					<div class="hl__blacklightHome__itemHighlightsFeaturedImage" style="background-image: url(&quot;https://ids.lib.harvard.edu/ids/view/4379537?width=150&amp;height=150&amp;usethumb=y&quot;);"></div>
					<div class="hl__itemHighlightsMetaContainer">
				<a href="/items/990011078780203941"><h3 class="hl__itemHightlightsTitle">unbidden guest</h3></a></div></a>
				<a class="hl__blacklightHome__itemHighlightsFeatured" tabindex="0">
					<div class="hl__blacklightHome__itemHighlightsFeaturedImage" style="background-image: url(&quot;https://nrs.harvard.edu/urn-3:FHCL:11487349?width=150&amp;height=150&amp;usethumb=y&quot;);"></div>
					<div class="hl__itemHighlightsMetaContainer">
				<a href="/items/990140668300203941"><h3 class="hl__itemHightlightsTitle">Preobrazhenskoe Jewish Cemetery in St. Petersburg</h3></a></div></a>
				<a class="hl__blacklightHome__itemHighlightsFeatured" tabindex="0">
					<div class="hl__blacklightHome__itemHighlightsFeaturedImage" style="background-image: url(&quot;https://nrs.harvard.edu/urn-3:FHCL:11237779?width=150&amp;height=150&amp;usethumb=y&quot;);"></div>
					<div class="hl__itemHighlightsMetaContainer">
				<a href="/items/990140554250203941"><h3 class="hl__itemHightlightsTitle">Great Synagogue in Oshmiany</h3></a></div></a>
			</div>
			<div class="hl__blacklightHome__seeAllContainer  itemSeeAll">
				<a class="hl__blacklightHome__seeAll" href="/search">
					<!-- react-text: 749 -->See all items <!-- /react-text --><img class="seeAllIcon" src="https://s3.amazonaws.com/archimedes-data001/hul/images/arrow_right.svg" alt="">
				</a>
			</div>
		</section>
	</section>
</div>
